<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXUFQxSf0ScR8X3DCfCuy-pIQI4Cq9Gp8</string>
	<key>GCM_SENDER_ID</key>
	<string>804570926912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soulSphere</string>
	<key>PROJECT_ID</key>
	<string>soulsphere-fa388</string>
	<key>STORAGE_BUCKET</key>
	<string>soulsphere-fa388.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804570926912:ios:d5c96cbe0e81540e05b4a5</string>
</dict>
</plist>